[build]
    functions = "functions"
    base = "/"
[[redirects]]
    from = "/api/*"
    to = "/.netlify/functions/:splat"
    status = 200
[[redirects]]
    from = "/*"
    to = "/"
    status = 200
    conditions = {Path = "!/api/*"}