@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Biofolio Ultimate';
    src: local('Biofolio Ultimate Regular'), local('BiofolioUltimate-Regular'),
        url('./fonts/subset-BiofolioUltimate-Regular.woff2') format('woff2'),
        url('./fonts/subset-BiofolioUltimate-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Biofolio Ultimate';
    src: local('Biofolio Ultimate ExtraBold'), local('BiofolioUltimate-ExtraBold'),
        url('./fonts/subset-BiofolioUltimate-ExtraBold.woff2') format('woff2'),
        url('./fonts/subset-BiofolioUltimate-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Biofolio Ultimate';
    src: local('Biofolio Ultimate Bold'), local('BiofolioUltimate-Bold'),
        url('./fonts/subset-BiofolioUltimate-Bold.woff2') format('woff2'),
        url('./fonts/subset-BiofolioUltimate-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Biofolio Ultimate';
    src: local('Biofolio Ultimate Medium'), local('BiofolioUltimate-Medium'),
        url('./fonts/subset-BiofolioUltimate-Medium.woff2') format('woff2'),
        url('./fonts/subset-BiofolioUltimate-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Biofolio Ultimate';
    src: local('Biofolio Ultimate Medium Italic'), local('BiofolioUltimate-MediumItalic'),
        url('./fonts/subset-BiofolioUltimate-MediumItalic.woff2') format('woff2'),
        url('./fonts/subset-BiofolioUltimate-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Biofolio Ultimate';
    src: local('Biofolio Ultimate Heavy'), local('BiofolioUltimate-Heavy'),
        url('./fonts/subset-BiofolioUltimate-Heavy.woff2') format('woff2'),
        url('./fonts/subset-BiofolioUltimate-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@layer base {

    *,
    *::before,
    *::after {
        box-sizing: border-box;
        margin: 0;
        position: relative;
        font-weight: normal;
    }

    html {
        height: 100%;
        height: stretch;
        height: -webkit-stretch;
    }

    body {
        height: 100%;
        min-height: stretch;
        min-height: -webkit-stretch;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    #app {
        @apply font-base text-snow;
    }

    h1 {
        @apply mb-5 md:text-5xl lg:text-6xl xl:text-7xl;
    }

    h2 {
        @apply xl:text-4xl xl:leading-snug;
    }

    p {
        @apply font-medium mb-5 leading-normal last:mb-0 md:text-2xl md:font-light md:leading-relaxed;
    }

    strong {
        @apply font-extrabold;
    }

    .special-gradient {
        background-image:
            linear-gradient(to bottom,
                #F4F4F4 0 50%,
                #18181A 50%);
    }

    .glossar-link {
        @apply bg-yellow-300 bg-opacity-30 px-1 rounded font-medium transition hover:bg-opacity-100 hover:text-coal;
    }

    ul.list {
        @apply flex flex-col gap-2 text-base;
    }

    ul.list li {
        @apply rounded-lg p-3 bg-white text-coal font-medium shadow-lg flex items-center justify-between gap-2;
    }

    ul.list li span {
        @apply font-medium text-coal;
    }

    .page-transition-enter-active,
    .page-transition-leave-active {
        @apply opacity-100 transition-opacity;
    }

    .page-transition-enter-from,
    .page-transition-leave-to {
        @apply opacity-0;
    }
}